body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
	background:url(airlineimg.png) no-repeat;
	background-size: cover;
	
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

nav {
    background-color: #007BFF;
    border-radius: 8px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    padding: 15px 0;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

nav ul li a i {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

nav ul li a:hover {
    background-color: #0056b3;
}
