/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
	background:url(airlineimg.png) no-repeat;
	background-size: cover;
}

/* Header and navigation styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul li a i {
    margin-right: 5px;
}

nav ul li a:hover {
    background-color: blue;
    border-radius: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 5px 0;
    }
}
